extends include/main

block variables
  - let title = 'IlyaKgd'
  - let description = ''
  - let page = 'index'

block content
  section#index
    .container
      .index.content
        .index__title
          h1 
